In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("ObesityDataSet_raw_and_data_sinthetic.csv")

In [3]:
df.sample(10)

,Gender,Age,Height,Weight,family_history_with_overweight,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,NObeyesdad
1293,Female,23.000000,1.634688,82.628000,yes,yes,2.060922,2.933409,Sometimes,no,2.235282,no,0.380633,0.002600,no,Public_Transportation,Obesity_Type_I
1024,Male,23.000000,1.715118,81.650778,yes,yes,2.000000,1.976744,Sometimes,no,1.628997,no,0.880584,1.127675,Sometimes,Public_Transportation,Overweight_Level_II
2029,Female,20.438478,1.805803,153.149491,yes,yes,3.000000,3.000000,Sometimes,no,2.387991,no,0.850715,0.656491,Sometimes,Public_Transportation,Obesity_Type_III
565,Male,17.120699,1.809251,58.968994,yes,yes,2.524428,4.000000,Sometimes,no,2.000000,no,2.000000,0.038380,no,Automobile,Insufficient_Weight
534,Male,18.216032,1.755507,52.000000,yes,yes,3.000000,3.000000,Frequently,no,2.000000,no,0.658894,1.000000,no,Public_Transportation,Insufficient_Weight
1589,Male,38.523646,1.765836,118.533246,yes,yes,2.177896,2.987652,Sometimes,no,1.745095,no,0.656548,0.000000,Sometimes,Automobile,Obesity_Type_II
496,Male,18.000000,1.720000,53.000000,yes,yes,2.000000,3.000000,Sometimes,no,2.000000,no,0.000000,2.000000,Sometimes,Public_Transportation,Insufficient_Weight
1961,Female,26.000000,1.613574,107.012256,yes,yes,3.000000,3.000000,Sometimes,no,2.678779,no,0.000000,0.508848,Sometimes,Public_Transportation,Obesity_Type_III
1245,Male,20.586978,1.781952,102.910613,yes,yes,2.000000,3.000000,Sometimes,no,1.689793,no,1.464204,0.000000,no,Public_Transportation,Obesity_Type_I
583,Female,21.785351,1.675054,49.945233,yes,yes,2.929889,3.000000,Frequently,no,2.792074,no,0.630944,1.366355,no,Public_Transportation,Insufficient_Weight

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Gender                          2111 non-null   object
 1   Age                             2111 non-null   float64
 2   Height                          2111 non-null   float64
 3   Weight                          2111 non-null   float64
 4   family_history_with_overweight  2111 non-null   object
 5   FAVC                            2111 non-null   object
 6   FCVC                            2111 non-null   float64
 7   NCP                             2111 non-null   float64
 8   CAEC                            2111 non-null   object
 9   SMOKE                           2111 non-null   object
 10  CH2O                            2111 non-null   float64
 11  SCC                             2111 non-null   object
 12  FAF                             2111 non-null   float64
 13  TUE                             2111 non-null   float64
 14  CALC                            2111 non-null   object
 15  MTRANS                          2111 non-null   object
 16  NObeyesdad                      2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [5]:
df.shape

(2111, 17)

In [6]:
df.isnull().sum()

Gender                            0
Age                               0
Height                            0
Weight                            0
family_history_with_overweight    0
FAVC                              0
FCVC                              0
NCP                               0
CAEC                              0
SMOKE                             0
CH2O                              0
SCC                               0
FAF                               0
TUE                               0
CALC                              0
MTRANS                            0
NObeyesdad                        0
dtype: int64

In [7]:
df['NObeyesdad'].unique()

array(['Normal_Weight', 'Overweight_Level_I', 'Overweight_Level_II',
       'Obesity_Type_I', 'Insufficient_Weight', 'Obesity_Type_II',
       'Obesity_Type_III'], dtype=object)

In [8]:
mapping = {'Normal_Weight':0, 'Overweight_Level_I':1, 'Overweight_Level_II':2,
       'Obesity_Type_I':3, 'Insufficient_Weight':4, 'Obesity_Type_II':5,
       'Obesity_Type_III':6}

df['NObeyesdad'] = df['NObeyesdad'].map(mapping)

In [9]:
gender_mapping = {'Male':0,'Female':1}

df['Gender'] = df['Gender'].map(gender_mapping)

In [10]:
history_mapping = {'yes':1,'no':0}
df['family_history_with_overweight'] = df['family_history_with_overweight'].map(history_mapping)

In [11]:
num_col = [i for i in df.columns if df[i].dtype=='int64' or df[i].dtype=='float64']
num_col

['Gender',
 'Age',
 'Height',
 'Weight',
 'family_history_with_overweight',
 'FCVC',
 'NCP',
 'CH2O',
 'FAF',
 'TUE',
 'NObeyesdad']

In [12]:
df[num_col].dropna(inplace=True)

C:\Users\bhupe\AppData\Local\Temp\ipykernel_31004\4154945479.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[num_col].dropna(inplace=True)

In [13]:
df[num_col].head()

,Gender,Age,Height,Weight,family_history_with_overweight,FCVC,NCP,CH2O,FAF,TUE,NObeyesdad
0,1,21.0,1.62,64.0,1,2.0,3.0,2.0,0.0,1.0,0
1,1,21.0,1.52,56.0,1,3.0,3.0,3.0,3.0,0.0,0
2,0,23.0,1.80,77.0,1,2.0,3.0,2.0,2.0,1.0,0
3,0,27.0,1.80,87.0,0,3.0,3.0,2.0,2.0,0.0,1
4,0,22.0,1.78,89.8,0,2.0,1.0,2.0,0.0,0.0,2

In [14]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
# Assuming 'data' is a NumPy array or pandas DataFrame containing the data

X = df[num_col].drop('NObeyesdad',axis=1)
y = df['NObeyesdad']
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=25,random_state=7)

# Create an instance of StandardScaler
scaler = StandardScaler()

# Fit the scaler to the data and transform the data
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression

In [16]:
cls = SVC().fit(X_train, y_train)
cls.score(X_train,y_train)

0.9463087248322147

In [17]:
from sklearn.metrics import accuracy_score
y_pred = cls.predict(X_test)
accuracy_score(y_test,y_pred)

0.92